body {
    background: #5E1742;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    background: #962E40;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 5px 10px #330136;
}

.assignment img {
    width: 250px;
    border: 2px solid #330136;
    margin-right: 20px;
    border-radius: 5px;
}

h1 {
    color: #C9463D;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.assignment a:hover {
    color: #C9463D;
}